.em-input {
	height: 32px;
	line-height: 30px;
	box-sizing: border-box;
	padding: 0 8px;
	border: 1px solid rgb(215, 215, 215);
	border-radius: 8px;
	outline: none;
}

.em-input:focus {
	border: 1px solid #03a9f4;
	box-shadow: 0 0 6px #00aaff;
}

.em-input-text {
	font-size: 14px;
}

.em-input-pwd {
	font-size: 14px;
}

.em-input-mail {
	font-size: 14px;
}

.em-filearea {
	width: 192px;
	height: 32px;
}

.em-bound-filearea-viewbox {
	width: 132px;
	height: 32px;
	float: left;
}

.em-filearea-viewbox {
	width: 132px;
	height: 32px;
	border: 1px solid rgb(170, 170, 170);
	border-right: 0px;
	box-sizing: border-box;
	border-radius: 8px 0 0 8px;
	padding-left: 8px;
	outline: none;
	cursor: pointer;
}

.em-bound-filearea-upload {
	width: 60px;
	height: 32px;
	float: left;
}

.em-filearea-upload {
	width: 60px;
	height: 32px;
	box-sizing: border-box;
	background-color: transparent;
	outline: none;
	border-radius: 0 8px 8px 0;
	cursor: pointer;
	background-color: rgb(0, 150, 136);
	color: #FFFFFF;
	border: 1px solid rgb(0, 150, 136);
}
.em-filearea-upload:hover{
	background-color: rgba(0,150,136,0.75);
	border: 1px solid rgba(0,150,136,0.75);
}
.em-file-hidden{
	display: none;
}
.em-filearea-multip {
	width: 272px;
	height: 32px;
}

.em-bound-filearea-viewbox-multip {
	width: 212px;
	height: 32px;
	float: left;
}

.em-filearea-viewbox-multip {
	width: 212px;
	height: 32px;
	border: 1px solid rgb(170, 170, 170);
	border-right: 0px;
	box-sizing: border-box;
	border-radius: 8px 0 0 8px;
	padding-left: 8px;
	outline: none;
	cursor: pointer;
}

.em-bound-filearea-upload-multip {
	width: 60px;
	height: 32px;
	float: left;
}

.em-filearea-upload-multip {
	width: 60px;
	height: 32px;
	box-sizing: border-box;
	background-color: transparent;
	outline: none;
	border-radius: 0 8px 8px 0;
	cursor: pointer;
	background-color: rgb(0, 150, 136);
	color: #FFFFFF;
	border: 1px solid rgb(0, 150, 136);
}
.em-filearea-upload-multip:hover{
	background-color: rgba(0,150,136,0.75);
	border: 1px solid rgba(0,150,136,0.75);
}
.em-file-hidden-multip{
	display: none;
}